language: scala
scala:
- 2.12.1
jdk:
- oraclejdk8
script:
- sbt clean coverage test
after_success:
- sbt coverageReport coveralls codacyCoverage
before_deploy:
# Record minimal build information via the Git user ident
- git config --global user.name "$USER"
- git config --global user.email "$TRAVIS_BUILD_NUMBER@$TRAVIS_COMMIT"
# Decrypt the secret deploy key using instructions from `travis encrypt-file`
- openssl aes-256-cbc -K $encrypted_d7be5f0fff53_key -iv $encrypted_d7be5f0fff53_iv -in project/travis-deploy-key.enc -out project/travis-deploy-key -d
- chmod 600 project/travis-deploy-key
# Start ssh-agent in the background and load the deploy key
- eval "$(ssh-agent -s)"
- ssh-add project/travis-deploy-key
deploy:
  provider: script
  script: sbt ghpagesPushSite
  skip_cleanup: true
  on:
    tags: true
    condition: $TRAVIS_PULL_REQUEST = false
notifications:
  slack:
    rooms:
    - secure: dx44+qghF1uboPZf2APo0vooY0cOrOqLzMbXU42vMYs2v83PQBp7e3r5BPagTk7mJs2S0caf8yOUO3ZTIWrYSN5AwOsnkjI7PX9dBxSa1nb8g/CwLq+EJXB1buF6Bfv7GIdKLJ/inh2Mkw9t3GPXwuhV3lqQPXUdDonmEmGW4+Zb4zFVBSyUEL0dXe4HSj9u5pBRC6Mxz3zchGPUc3WH2oQgZMldaUo+8B6AA8VDfUiIoUx8ukL+MKgEsRUmyd4c52xEbaDJ97FoKWf+AtMAHoIqWZzNA6ETV/tyuyk2eakBadrLd0yoFmNRoSb5/3zQzB1cdiz2YXFNoGS7HDwid3R7ssMjaT15EFuxlS9SySivUzWYjghnAC/XCKP633FkHfYhHqCjQc6Hpxhp1eJdDEVzTYy/5RGeEjVSnyVx4LUS9oJsRpZl5qVchG0t6OA85GDuw98+/OSMLsLQ2hKvIZmkKD7+SupYGtAAUSsX/l4YDtPh2BfvaZuOwxnYcGElLFjHs7kQ8Cm0jeSjXllhCfAhTrVMcemSbLzYK+TCtBldZ5YZo0XgtLDBMCDWTR2STHXZcvjWiX7X5nTfK4O2EhSsrGJN9JW8MFob+F9ou5rxN2ZTlek1DEY+qWJq23Xjco5Vz4vO13+3rOtdslrzcIBgmYFJUJwksVW06UB40r0=
    on_success: always
    on_failure: always
env:
  global:
  - secure: nZtTkleSDPrzgeDn0RBqubmmDaUj7Kxr7CUs5J6OrC1KIwe7PZrR3Ji8faKg5Vh2VW6ACVyMMT7xczqFvOJp3BXD2RppnXpzn0pUo43M4Du/F2QTgkYMT5GiBFp6TKS0u84zR6MoznmaaYuFg3eN6hPuWgGPrY2HiSzkWzNRai8Y4CN10bQFbBIRBqfuVYUharNGuplhboBhbpZT4tZ+DLdydseNQ+2vy1yVh9nuyTj4M+sDYvYn9crM871bnQtBbItQHHG+LaMypM0U0/4F+QKIjJ2TUP+V9x6UU2ugam5kcE/PQ6RzeaCyaEMC++FiK+Z9D0ThN0x9u7PVgnrAoQbouvJkczmTg5FZcp79u5tGRz8m0REJni4aH+PzzoMWK26MRGFo4br5XmFwu+Ma/hnWaNuWxkf8GvlbkEvKLVU8oMYMgy/lqMP9EC9TB0D0/SbqwsIe9LXAWvEwAn9bkcP/6gDA2nVjfi0i18RiHj+q2TKG9W4hco6pd3taeIadHupghmobdtQjSQXOgoflKGMUAhr6H3bxrlSK/Tyk5SAliedDfG995BTYH50bjPDvYsknVUiPp/kDU1Z7hnlUBVUOjGKMo8ofv6dNYtyAOyM50oSavZn68orbJaLtcHMWTUSpI2qXogQrhYy9EmQPnVMsKQk+83DjjseJRo8xDOY=
  - secure: JqONlOKU6b7zlGWvjxrh3FTbEnlbhzuWrG89RE/X0hdv7LB+p9nw+/6FcOZblQDKJlHhjVSAF6Xnjn41yI206lipsnHQXCZs9wlIdusVriintIv0wXGz62XURivWP+h5770om4VLx+xTaUAVrMCXzQN3WsMYAxl5EFg1SrDUuFMHKMHVxC5o25FzoW5uO2dwHXO7BDWVyKmiYf63owYr5q61wxcHXfr28L2Gx3XcvhCX9GxonbnxY2QFPi5TPslDUnT3CF0Wi7E/c8dTgh7+N+fU0ePI+L3eUPXANTrtYngmBOif3MdnznHTkKMIIUOhXNIuUmm8aAG6TxZqMhq7tBhJuZgpR9s8H2ZABWyJ4thEO6/bIG2JkIQo+PaX/tvMtdE5mvRMZb8ROybQhwT3obcJhvM9lGceU0UxSdkFyK59REMSWAmfl6CK7M7L8PDpiO4TuHM/xwgA3rderKLLmZnWDuEwMCvGtR9tU4VsZZysSysL3rK0e3Una8GyVeZf5tmRfrG7hswNcjhU1M6cA353+c0TFss7W+nwMa9dan+HZxbIJXXPbGyJm4igI6r+W7Ypa4RGt0acj2D4QK6GnCxCt2kWEBv/YTDtEmFjfMKHvZkbNCaOeicEX5wWP6zcg0RISyqWQacSkLL83UxCbzK17yLiBtO/F3pG/glqCzY=
